<!doctype html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head(titulo='Money Tracker | Alterar Senha')}">
</head>

<body class="d-flex flex-column min-vh-100 bg-light">

<header th:replace="~{fragments/header :: header}">
</header>

<main class="flex-grow-1 hero-section d-flex align-items-center justify-content-center">

    <form method="post"
          th:action="@{/user/change-password}"
          th:object="${changePasswordForm}"
          class="bg-white rounded-3 shadow"
          style="width: 50%; padding: 50px;">

        <h5 class="pb-4 fw-semibold">Alterar Senha</h5>

        <div th:if="${errorMessage}" class="alert alert-danger" role="alert" th:text="${errorMessage}"></div>

        <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger" role="alert">
            <ul class="m-0 pl-3">
                <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
            </ul>
        </div>

        <div class="mb-3">
            <label for="currentPasswordInput" class="form-label fw-semibold">Senha Atual</label>
            <input type="password"
                   class="form-control"
                   id="currentPasswordInput"
                   placeholder="Digite sua senha atual"
                   th:field="*{currentPassword}"
                   th:classappend="${#fields.hasErrors('currentPassword')} ? 'is-invalid' : ''">
        </div>

        <div class="mb-3 pb-3">
            <label for="newPasswordInput" class="form-label fw-semibold">Nova Senha</label>
            <input type="password"
                   class="form-control"
                   id="newPasswordInput"
                   placeholder="Crie uma nova senha"
                   th:field="*{newPassword}"
                   th:classappend="${#fields.hasErrors('newPassword')} ? 'is-invalid' : ''">
        </div>

        <div class="mb-3">
            <label for="passwordConfirmationInput" class="form-label fw-semibold">Confirme sua senha</label>
            <input type="password"
                   class="form-control"
                   id="passwordConfirmationInput"
                   placeholder="Confirme a senha anterior"
                   th:field="*{newPasswordConfirmation}"
                   th:classappend="${#fields.hasErrors('newPasswordConfirmation')} ? 'is-invalid' : ''">
        </div>

        <div class="d-flex justify-content-end gap-2 mt-4">
            <a th:href="@{/overview}" class="btn btn-secondary">Cancelar</a>

            <button type="submit" class="btn btn-primary action-btn">
                Salvar Alterações
            </button>
        </div>
    </form>
</main>

<footer th:replace="~{fragments/footer :: footer}">
</footer>

</body>
</html>