<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head :: head(titulo='Money Tracker | Início')}">
</head>

<body class="d-flex flex-column min-vh-100">
<header th:replace="~{fragments/header :: header}">
</header>

<main class="flex-grow-1 hero-section d-flex align-items-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7 hero-text text-center text-md-start mb-4 mb-md-0">
                <h1 class="hero-title display-5 text-dark mb-4">Seja bem-vindo ao Money Tracker</h1>
                <p class="lead hero-subtitle fw-normal text-secondary">
                    Organize suas finanças de forma simples e intuitiva. Estabeleça metas,
                    controle seus gastos e alcance a tranquilidade financeira.
                </p>

                <a class="btn-start"
                   sec:authorize="!isAuthenticated()"
                   th:href="@{/auth/login}">
                    Começar Agora
                </a>

                <a class="btn-start"
                   sec:authorize="isAuthenticated()"
                   th:href="@{/overview}">
                    Começar Agora
                </a>
            </div>

            <div class="col-md-5 d-none d-md-block">
                <img th:src="@{/assets/hand-drawn-frugality-illustration.png}"
                     alt="Desenho de pessoas economizando dinheiro" class="hero-image">
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}">
</footer>

</body>
</html>